In [1]:
import pandas as pd
data=pd.read_csv('E://Stage_AIREC_2023//export_banque.csv', sep=';', encoding='latin-1', header=0)

In [2]:
data

,Date 1,DateTrade,Libell√©,reference,montant
0,16/02/2023,15/02/2023,PRELEVEMENT MINISTERE DES FINANCE,50034110928,-1527.608
1,16/02/2023,15/02/2023,COM. ENCAISSEMENT CHQ DINARS AUTR,2341,-0.14
2,16/02/2023,15/02/2023,TVA sur COM. ENCAISSEMENT CHQ DINARS AUTR,2341,-0.027
3,16/02/2023,17/02/2023,ENCAISSEMENT CHEQUE N?0002341,2341,271.775
4,16/02/2023,15/02/2023,COMMISSION SUR PRELEVEMENT,50034110928,-1
5,16/02/2023,15/02/2023,TVA sur COMMISSION SUR PRELEVEMENT,50034110928,-0.19
6,16/02/2023,15/02/2023,FRAIS TELECOMPENSATION,2341,-0.16
7,16/02/2023,15/02/2023,TVA sur FRAIS TELECOMPENSATION,2341,-0.03
8,14/02/2023,13/02/2023,COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.1
9,14/02/2023,13/02/2023,TVA sur COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.019
10,13/02/2023,10/02/2023,REG CHEQUE N? 0002918,2918,-9007.772
11,14/02/2023,15/02/2023,ENCAISSEMENT CHEQUE N?0019786,19786,193.974
12,14/02/2023,13/02/2023,COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.1
13,14/02/2023,13/02/2023,TVA sur COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.019
14,14/02/2023,15/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,NaN,5000
15,13/02/2023,10/02/2023,REG CHEQUE N? 0002918,2918,-9007.772
16,10/02/2023,09/02/2023,REG CHEQUE N? 0002920,2920,-8708.083
17,10/02/2023,09/02/2023,REG CHEQUE N? 0002921,2921,-10706.732
18,10/02/2023,09/02/2023,REG CHEQUE N? 0002915,2915,-9396.435
19,10/02/2023,13/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,NaN,12000
20,10/02/2023,10/02/2023,VIREMENT EMIS MEME CLIENT MEHDI B,20041241355,-3500
21,10/02/2023,09/02/2023,REG CHEQUE N? 0002916,2916,-6540.375
22,07/02/2023,08/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,NaN,5000
23,03/02/2023,06/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,NaN,6000
24,03/02/2023,02/02/2023,COMMISSION VIREMENT RECU EN DINAR,30029283110,-0.5
25,03/02/2023,02/02/2023,TVA sur COMMISSION VIREMENT RECU EN DINAR,30029283110,-0.095
26,03/02/2023,06/02/2023,VIREMENT RECU STE TUNISIENNE DE S,30029283110,2843.934
27,02/02/2023,01/02/2023,FRAIS TELECOMPENSATION,8505892,-0.16
28,02/02/2023,01/02/2023,TVA sur FRAIS TELECOMPENSATION,8505892,-0.03
29,02/02/2023,01/02/2023,COM. ENCAISSEMENT CHQ DINARS AUTR,8505892,-0.14
30,02/02/2023,01/02/2023,TVA sur COM. ENCAISSEMENT CHQ DINARS AUTR,8505892,-0.027
31,02/02/2023,03/02/2023,ENCAISSEMENT CHEQUE N?8505892,8505892,1930
32,01/02/2023,31/01/2023,VIREMENT EMIS EN DINARS,M0002285793,-4357
33,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,"465,749"

In [3]:
#remplacer les valeurs manquntes par 0
data=data.fillna(0)

In [4]:
# changer les derni√®res valeurs de la colonne 'Libell√©'.
data.iloc[-3:, data.columns.get_loc('Libell√©')] = ['rien', 'rien','rien']

In [5]:
data

,Date 1,DateTrade,Libell√©,reference,montant
0,16/02/2023,15/02/2023,PRELEVEMENT MINISTERE DES FINANCE,50034110928,-1527.608
1,16/02/2023,15/02/2023,COM. ENCAISSEMENT CHQ DINARS AUTR,2341,-0.14
2,16/02/2023,15/02/2023,TVA sur COM. ENCAISSEMENT CHQ DINARS AUTR,2341,-0.027
3,16/02/2023,17/02/2023,ENCAISSEMENT CHEQUE N?0002341,2341,271.775
4,16/02/2023,15/02/2023,COMMISSION SUR PRELEVEMENT,50034110928,-1
5,16/02/2023,15/02/2023,TVA sur COMMISSION SUR PRELEVEMENT,50034110928,-0.19
6,16/02/2023,15/02/2023,FRAIS TELECOMPENSATION,2341,-0.16
7,16/02/2023,15/02/2023,TVA sur FRAIS TELECOMPENSATION,2341,-0.03
8,14/02/2023,13/02/2023,COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.1
9,14/02/2023,13/02/2023,TVA sur COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.019
10,13/02/2023,10/02/2023,REG CHEQUE N? 0002918,2918,-9007.772
11,14/02/2023,15/02/2023,ENCAISSEMENT CHEQUE N?0019786,19786,193.974
12,14/02/2023,13/02/2023,COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.1
13,14/02/2023,13/02/2023,TVA sur COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.019
14,14/02/2023,15/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,5000
15,13/02/2023,10/02/2023,REG CHEQUE N? 0002918,2918,-9007.772
16,10/02/2023,09/02/2023,REG CHEQUE N? 0002920,2920,-8708.083
17,10/02/2023,09/02/2023,REG CHEQUE N? 0002921,2921,-10706.732
18,10/02/2023,09/02/2023,REG CHEQUE N? 0002915,2915,-9396.435
19,10/02/2023,13/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,12000
20,10/02/2023,10/02/2023,VIREMENT EMIS MEME CLIENT MEHDI B,20041241355,-3500
21,10/02/2023,09/02/2023,REG CHEQUE N? 0002916,2916,-6540.375
22,07/02/2023,08/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,5000
23,03/02/2023,06/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,6000
24,03/02/2023,02/02/2023,COMMISSION VIREMENT RECU EN DINAR,30029283110,-0.5
25,03/02/2023,02/02/2023,TVA sur COMMISSION VIREMENT RECU EN DINAR,30029283110,-0.095
26,03/02/2023,06/02/2023,VIREMENT RECU STE TUNISIENNE DE S,30029283110,2843.934
27,02/02/2023,01/02/2023,FRAIS TELECOMPENSATION,8505892,-0.16
28,02/02/2023,01/02/2023,TVA sur FRAIS TELECOMPENSATION,8505892,-0.03
29,02/02/2023,01/02/2023,COM. ENCAISSEMENT CHQ DINARS AUTR,8505892,-0.14
30,02/02/2023,01/02/2023,TVA sur COM. ENCAISSEMENT CHQ DINARS AUTR,8505892,-0.027
31,02/02/2023,03/02/2023,ENCAISSEMENT CHEQUE N?8505892,8505892,1930
32,01/02/2023,31/01/2023,VIREMENT EMIS EN DINARS,M0002285793,-4357
33,0,0,rien,0,0
34,0,0,rien,0,0
35,0,0,rien,0,"465,749"

In [6]:
# ajouter une nouvelle colonne contenant les num√©ros d'index
data.insert(0, 'ID', data.reset_index().index)

In [7]:
def add_abbreviations_to_dataframe(df, column_name, predefined_words, abbreviations):
    # cr√©er une liste vide pour stocker les abr√©viations
    column_values = []
    
    # boucle √† travers chaque ligne de la colonne et recherche les mots pr√©d√©finis
    for index, row in df.iterrows():
        content = row[column_name].lower()
        abbreviation = ''
        for i in range(len(predefined_words)):
            if predefined_words[i] in content:
                abbreviation += abbreviations[i]  # ajouter l'abr√©viation du mot cl√© correspondant
        column_values.append(abbreviation)
    
    # ajouter la colonne au DataFrame
    df['Abbreviations'] = column_values
    return df

In [8]:
predefined_words = ['reg cheque','encaissement cheque', 'virement emis','virement recu','prelevement','telecompensation','versement esp','encaissement chq']
abbreviations = ['REG_CH', 'ENC_CH','VE','VR','PR','FR_TL','V_ESP','ENC_CH']
df = add_abbreviations_to_dataframe(data,'Libell√©', predefined_words, abbreviations)

In [9]:
df

,ID,Date 1,DateTrade,Libell√©,reference,montant,Abbreviations
0,0,16/02/2023,15/02/2023,PRELEVEMENT MINISTERE DES FINANCE,50034110928,-1527.608,PR
1,1,16/02/2023,15/02/2023,COM. ENCAISSEMENT CHQ DINARS AUTR,2341,-0.14,ENC_CH
2,2,16/02/2023,15/02/2023,TVA sur COM. ENCAISSEMENT CHQ DINARS AUTR,2341,-0.027,ENC_CH
3,3,16/02/2023,17/02/2023,ENCAISSEMENT CHEQUE N?0002341,2341,271.775,ENC_CH
4,4,16/02/2023,15/02/2023,COMMISSION SUR PRELEVEMENT,50034110928,-1,PR
5,5,16/02/2023,15/02/2023,TVA sur COMMISSION SUR PRELEVEMENT,50034110928,-0.19,PR
6,6,16/02/2023,15/02/2023,FRAIS TELECOMPENSATION,2341,-0.16,FR_TL
7,7,16/02/2023,15/02/2023,TVA sur FRAIS TELECOMPENSATION,2341,-0.03,FR_TL
8,8,14/02/2023,13/02/2023,COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.1,
9,9,14/02/2023,13/02/2023,TVA sur COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.019,
10,10,13/02/2023,10/02/2023,REG CHEQUE N? 0002918,2918,-9007.772,REG_CH
11,11,14/02/2023,15/02/2023,ENCAISSEMENT CHEQUE N?0019786,19786,193.974,ENC_CH
12,12,14/02/2023,13/02/2023,COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.1,
13,13,14/02/2023,13/02/2023,TVA sur COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.019,
14,14,14/02/2023,15/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,5000,V_ESP
15,15,13/02/2023,10/02/2023,REG CHEQUE N? 0002918,2918,-9007.772,REG_CH
16,16,10/02/2023,09/02/2023,REG CHEQUE N? 0002920,2920,-8708.083,REG_CH
17,17,10/02/2023,09/02/2023,REG CHEQUE N? 0002921,2921,-10706.732,REG_CH
18,18,10/02/2023,09/02/2023,REG CHEQUE N? 0002915,2915,-9396.435,REG_CH
19,19,10/02/2023,13/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,12000,V_ESP
20,20,10/02/2023,10/02/2023,VIREMENT EMIS MEME CLIENT MEHDI B,20041241355,-3500,VE
21,21,10/02/2023,09/02/2023,REG CHEQUE N? 0002916,2916,-6540.375,REG_CH
22,22,07/02/2023,08/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,5000,V_ESP
23,23,03/02/2023,06/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,6000,V_ESP
24,24,03/02/2023,02/02/2023,COMMISSION VIREMENT RECU EN DINAR,30029283110,-0.5,VR
25,25,03/02/2023,02/02/2023,TVA sur COMMISSION VIREMENT RECU EN DINAR,30029283110,-0.095,VR
26,26,03/02/2023,06/02/2023,VIREMENT RECU STE TUNISIENNE DE S,30029283110,2843.934,VR
27,27,02/02/2023,01/02/2023,FRAIS TELECOMPENSATION,8505892,-0.16,FR_TL
28,28,02/02/2023,01/02/2023,TVA sur FRAIS TELECOMPENSATION,8505892,-0.03,FR_TL
29,29,02/02/2023,01/02/2023,COM. ENCAISSEMENT CHQ DINARS AUTR,8505892,-0.14,ENC_CH
30,30,02/02/2023,01/02/2023,TVA sur COM. ENCAISSEMENT CHQ DINARS AUTR,8505892,-0.027,ENC_CH
31,31,02/02/2023,03/02/2023,ENCAISSEMENT CHEQUE N?8505892,8505892,1930,ENC_CH
32,32,01/02/2023,31/01/2023,VIREMENT EMIS EN DINARS,M0002285793,-4357,VE
33,33,0,0,rien,0,0,
34,34,0,0,rien,0,0,
35,35,0,0,rien,0,"465,749",

In [10]:
df.columns

Index(['ID', 'Date 1 ', 'DateTrade', 'Libell√©', 'reference', 'montant',
       'Abbreviations'],
      dtype='object')

In [11]:
data1 = pd.read_csv("E://Stage_AIREC_2023//Extrait.csv", sep = ',')

print("Shape of data : " , data1.shape,"\n")

data1.head(14)

Shape of data :  (17, 7)

,OK,Date\nbancaire,Date \nde r√©glement,Cr√©dit,D√©bit,Libell√©,Num√©ro du libell√©
0,0,NaN,1/2/2023,NaN,"9,396.44",CH,2.915000e+03
1,0,NaN,1/2/2023,NaN,"6,540.38",CH,2.916000e+03
2,0,NaN,3/2/2023,56.63,NaN,TPE,NaN
3,0,NaN,3/2/2023,"6,000.00",NaN,ES,3.156000e+03
4,0,NaN,4/2/2023,"2,843.91",NaN,VB,NaN
5,0,NaN,4/2/2023,NaN,0.595,VB,NaN
6,0,NaN,7/2/2023,"5,000.00",NaN,ES,3.159000e+03
7,0,NaN,8/2/2023,NaN,"9,007.77",CH,2.917000e+03
8,0,NaN,8/2/2023,NaN,"3,686.91",CH,2.919000e+03
9,0,NaN,8/2/2023,NaN,"8,708.09",CH,2.920000e+03
10,0,NaN,8/2/2023,NaN,"10,706.74",CH,2.921000e+03
11,0,NaN,10/2/2023,NaN,"1,427.32",TR,9.145401e+09
12,0,NaN,10/2/2023,"12,000.00",NaN,ES,3.168000e+03
13,0,NaN,14/2/2023,"5,000.00",NaN,ES,3.169000e+03

In [12]:
#remplir les valeurs manquantes
df1=data1.fillna(0)

In [13]:
# ajout d'une nvlle colonne contenant les id
df1.insert(0,'ID', df1.reset_index().index)

In [14]:
df1

,ID,OK,Date\nbancaire,Date \nde r√©glement,Cr√©dit,D√©bit,Libell√©,Num√©ro du libell√©
0,0,0,0.0,1/2/2023,0,"9,396.44",CH,2.915000e+03
1,1,0,0.0,1/2/2023,0,"6,540.38",CH,2.916000e+03
2,2,0,0.0,3/2/2023,56.63,0,TPE,0.000000e+00
3,3,0,0.0,3/2/2023,"6,000.00",0,ES,3.156000e+03
4,4,0,0.0,4/2/2023,"2,843.91",0,VB,0.000000e+00
5,5,0,0.0,4/2/2023,0,0.595,VB,0.000000e+00
6,6,0,0.0,7/2/2023,"5,000.00",0,ES,3.159000e+03
7,7,0,0.0,8/2/2023,0,"9,007.77",CH,2.917000e+03
8,8,0,0.0,8/2/2023,0,"3,686.91",CH,2.919000e+03
9,9,0,0.0,8/2/2023,0,"8,708.09",CH,2.920000e+03
10,10,0,0.0,8/2/2023,0,"10,706.74",CH,2.921000e+03
11,11,0,0.0,10/2/2023,0,"1,427.32",TR,9.145401e+09
12,12,0,0.0,10/2/2023,"12,000.00",0,ES,3.168000e+03
13,13,0,0.0,14/2/2023,"5,000.00",0,ES,3.169000e+03
14,14,0,0.0,14/2/2023,465.749,0,CH,3.170000e+03
15,15,0,0.0,15/2/2023,9.67,0,TPE,0.000000e+00
16,16,0,0.0,15/2/2023,0,"1,527.61",VB,5.003411e+10

In [15]:
# filtrer les lignes de df o√π la colonne 'abr√©viation' se termine par 'er'.
espece_df = df1[df1['Libell√©'].str.endswith('ES') | df1['Libell√©'].str.endswith('VB') ]

In [16]:
espece_df

,ID,OK,Date\nbancaire,Date \nde r√©glement,Cr√©dit,D√©bit,Libell√©,Num√©ro du libell√©
3,3,0,0.0,3/2/2023,"6,000.00",0,ES,3.156000e+03
4,4,0,0.0,4/2/2023,"2,843.91",0,VB,0.000000e+00
5,5,0,0.0,4/2/2023,0,0.595,VB,0.000000e+00
6,6,0,0.0,7/2/2023,"5,000.00",0,ES,3.159000e+03
12,12,0,0.0,10/2/2023,"12,000.00",0,ES,3.168000e+03
13,13,0,0.0,14/2/2023,"5,000.00",0,ES,3.169000e+03
16,16,0,0.0,15/2/2023,0,"1,527.61",VB,5.003411e+10

In [17]:
# convertir les colonnes de date au format datetime
df['Date 1 '] = pd.to_datetime(df['Date 1 '])
espece_df['Date \nde r√©glement'] = pd.to_datetime(espece_df['Date \nde r√©glement'])

<ipython-input-17-d5609fe742a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  espece_df['Date \nde r√©glement'] = pd.to_datetime(espece_df['Date \nde r√©glement'])

In [18]:
#trier les valeurs de "Date 1 "
df_sorted = df.sort_values('Date 1 ')

In [19]:
#trier les valeurs de "Date \nde r√©glement "
espece_df_sorted = espece_df.sort_values('Date \nde r√©glement')

In [20]:
#fusionner les deux dataframe en tenant compte de date avec une tolerance de 2 jours d'ecart
merged_df = pd.merge_asof(df_sorted, espece_df_sorted, left_on='Date 1 ', right_on='Date \nde r√©glement', tolerance=pd.Timedelta('2 days'))

In [21]:
merged_df

,ID_x,Date 1,DateTrade,Libell√©_x,reference,montant,Abbreviations,ID_y,OK,Date\nbancaire,Date \nde r√©glement,Cr√©dit,D√©bit,Libell√©_y,Num√©ro du libell√©
0,35,1970-01-01,0,rien,0,"465,749",,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,34,1970-01-01,0,rien,0,0,,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,33,1970-01-01,0,rien,0,0,,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,32,2023-01-02,31/01/2023,VIREMENT EMIS EN DINARS,M0002285793,-4357,VE,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,31,2023-02-02,03/02/2023,ENCAISSEMENT CHEQUE N?8505892,8505892,1930,ENC_CH,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
5,30,2023-02-02,01/02/2023,TVA sur COM. ENCAISSEMENT CHQ DINARS AUTR,8505892,-0.027,ENC_CH,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
6,29,2023-02-02,01/02/2023,COM. ENCAISSEMENT CHQ DINARS AUTR,8505892,-0.14,ENC_CH,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,28,2023-02-02,01/02/2023,TVA sur FRAIS TELECOMPENSATION,8505892,-0.03,FR_TL,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8,27,2023-02-02,01/02/2023,FRAIS TELECOMPENSATION,8505892,-0.16,FR_TL,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
9,15,2023-02-13,10/02/2023,REG CHEQUE N? 0002918,2918,-9007.772,REG_CH,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
10,10,2023-02-13,10/02/2023,REG CHEQUE N? 0002918,2918,-9007.772,REG_CH,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
11,9,2023-02-14,13/02/2023,TVA sur COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.019,,13.0,0.0,0.0,2023-02-14,"5,000.00",0,ES,3.169000e+03
12,11,2023-02-14,15/02/2023,ENCAISSEMENT CHEQUE N?0019786,19786,193.974,ENC_CH,13.0,0.0,0.0,2023-02-14,"5,000.00",0,ES,3.169000e+03
13,12,2023-02-14,13/02/2023,COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.1,,13.0,0.0,0.0,2023-02-14,"5,000.00",0,ES,3.169000e+03
14,13,2023-02-14,13/02/2023,TVA sur COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.019,,13.0,0.0,0.0,2023-02-14,"5,000.00",0,ES,3.169000e+03
15,14,2023-02-14,15/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,5000,V_ESP,13.0,0.0,0.0,2023-02-14,"5,000.00",0,ES,3.169000e+03
16,8,2023-02-14,13/02/2023,COM. CHQ EN TND SUR CPT EN TND AU,19786,-0.1,,13.0,0.0,0.0,2023-02-14,"5,000.00",0,ES,3.169000e+03
17,0,2023-02-16,15/02/2023,PRELEVEMENT MINISTERE DES FINANCE,50034110928,-1527.608,PR,16.0,0.0,0.0,2023-02-15,0,"1,527.61",VB,5.003411e+10
18,1,2023-02-16,15/02/2023,COM. ENCAISSEMENT CHQ DINARS AUTR,2341,-0.14,ENC_CH,16.0,0.0,0.0,2023-02-15,0,"1,527.61",VB,5.003411e+10
19,2,2023-02-16,15/02/2023,TVA sur COM. ENCAISSEMENT CHQ DINARS AUTR,2341,-0.027,ENC_CH,16.0,0.0,0.0,2023-02-15,0,"1,527.61",VB,5.003411e+10
20,3,2023-02-16,17/02/2023,ENCAISSEMENT CHEQUE N?0002341,2341,271.775,ENC_CH,16.0,0.0,0.0,2023-02-15,0,"1,527.61",VB,5.003411e+10
21,4,2023-02-16,15/02/2023,COMMISSION SUR PRELEVEMENT,50034110928,-1,PR,16.0,0.0,0.0,2023-02-15,0,"1,527.61",VB,5.003411e+10
22,7,2023-02-16,15/02/2023,TVA sur FRAIS TELECOMPENSATION,2341,-0.03,FR_TL,16.0,0.0,0.0,2023-02-15,0,"1,527.61",VB,5.003411e+10
23,6,2023-02-16,15/02/2023,FRAIS TELECOMPENSATION,2341,-0.16,FR_TL,16.0,0.0,0.0,2023-02-15,0,"1,527.61",VB,5.003411e+10
24,5,2023-02-16,15/02/2023,TVA sur COMMISSION SUR PRELEVEMENT,50034110928,-0.19,PR,16.0,0.0,0.0,2023-02-15,0,"1,527.61",VB,5.003411e+10
25,26,2023-03-02,06/02/2023,VIREMENT RECU STE TUNISIENNE DE S,30029283110,2843.934,VR,3.0,0.0,0.0,2023-03-02,"6,000.00",0,ES,3.156000e+03
26,23,2023-03-02,06/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,6000,V_ESP,3.0,0.0,0.0,2023-03-02,"6,000.00",0,ES,3.156000e+03
27,24,2023-03-02,02/02/2023,COMMISSION VIREMENT RECU EN DINAR,30029283110,-0.5,VR,3.0,0.0,0.0,2023-03-02,"6,000.00",0,ES,3.156000e+03
28,25,2023-03-02,02/02/2023,TVA sur COMMISSION VIREMENT RECU EN DINAR,30029283110,-0.095,VR,3.0,0.0,0.0,2023-03-02,"6,000.00",0,ES,3.156000e+03
29,22,2023-07-02,08/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,5000,V_ESP,6.0,0.0,0.0,2023-07-02,"5,000.00",0,ES,3.159000e+03
30,18,2023-10-02,09/02/2023,REG CHEQUE N? 0002915,2915,-9396.435,REG_CH,12.0,0.0,0.0,2023-10-02,"12,000.00",0,ES,3.168000e+03
31,21,2023-10-02,09/02/2023,REG CHEQUE N? 0002916,2916,-6540.375,REG_CH,12.0,0.0,0.0,2023-10-02,"12,000.00",0,ES,3.168000e+03
32,20,2023-10-02,10/02/2023,VIREMENT EMIS MEME CLIENT MEHDI B,20041241355,-3500,VE,12.0,0.0,0.0,2023-10-02,"12,000.00",0,ES,3.168000e+03
33,19,2023-10-02,13/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,12000,V_ESP,12.0,0.0,0.0,2023-10-02,"12,000.00",0,ES,3.168000e+03
34,16,2023-10-02,09/02/2023,REG CHEQUE N? 0002920,2920,-8708.083,REG_CH,12.0,0.0,0.0,2023-10-02,"12,000.00",0,ES,3.168000e+03
35,17,2023-10-02,09/02/2023,REG CHEQUE N? 0002921,2921,-10706.732,REG_CH,12.0,0.0,0.0,2023-10-02,"12,000.00",0,ES,3.168000e+03

In [22]:
from fuzzywuzzy import fuzz
# D√©finir une fonction pour calculer le taux de correspondance floue entre deux cha√Ænes de caract√®res.
def fuzzy_match(s1, s2):
    return fuzz.ratio(str(s1), str(s2))

C:\Users\benet\AppData\Roaming\Python\Python38\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [25]:
# Appliquez la fonction fuzzy_match aux colonnes "montant" et "cr√©dit" et obtenez les lignes o√π le ratio de correspondance est sup√©rieur √† 50.
matched_rows = merged_df[merged_df.apply(lambda row: fuzzy_match(row["montant"], row["Cr√©dit"]) > 50, axis=1)]

In [26]:
matched_rows

,ID_x,Date 1,DateTrade,Libell√©_x,reference,montant,Abbreviations,ID_y,OK,Date\nbancaire,Date \nde r√©glement,Cr√©dit,D√©bit,Libell√©_y,Num√©ro du libell√©
15,14,2023-02-14,15/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,5000,V_ESP,13.0,0.0,0.0,2023-02-14,"5,000.00",0,ES,3169.0
26,23,2023-03-02,06/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,6000,V_ESP,3.0,0.0,0.0,2023-03-02,"6,000.00",0,ES,3156.0
29,22,2023-07-02,08/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,5000,V_ESP,6.0,0.0,0.0,2023-07-02,"5,000.00",0,ES,3159.0
33,19,2023-10-02,13/02/2023,VERSEMENT ESP EN DIN MEME AGENCE,0,12000,V_ESP,12.0,0.0,0.0,2023-10-02,"12,000.00",0,ES,3168.0

In [27]:
matched_rows.to_csv('E://Stage_AIREC_2023//matched_rows.csv', index=False)